.modal {
    position: fixed;
    width: 70%;
    height: 90%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    z-index: 9999;
    button {
       padding: 15px;
       font-size: 15px;
       background: indianred;
       color: #FFF;
       border: none;
       line-height: 15px;
       text-align: center;
    }
}

.modal-window {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
    padding: 2.5px;
    padding-top: 0;
    img {
      width: 33.3%;
      padding: 2.5px;
      padding-top: 0;
      height: auto;
    }
}

.closeButton {
    position: fixed;
    z-index: 9999;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    height: 30px;
    width: 30px;
    font-size: 50px;
    line-height: 30px;
    text-align: center;
    z-index: 9999;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}
