.modal {
    position: fixed;
    width: 80%;
    height: 90%;
    margin: auto;
    display: none;
    overflow: auto;
    z-index: 9999;
    button {
       padding: 15px;
       font-size: 15px;
       background: indianred;
       color: #FFF;
       border: none;
       line-height: 15px;
       text-align: center;
    }
}

.modal-window {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-around;
    background-color: #000301;
    margin: auto;
    padding: 2.5px;
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);

    img {
        background-color: #fff;
        border: 1px solid black;
        -webkit-flex-grow: 0;
        -moz-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        width: 25%;
        margin: 10px;
        padding: 5px;
        -webkit-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
    }
}

.modal-one {
    position: fixed;
    width: 80%;
    height: 90%;
    margin: auto;
    display: none;
    overflow: auto;
    z-index: 9999;
    button {
       padding: 15px;
       font-size: 15px;
       background: indianred;
       color: #FFF;
       border: none;
       line-height: 15px;
       text-align: center;
    }
}

.modal-window-one {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-around;
    background-color: #000301;
    margin: auto;
    padding: 2.5px;
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);

    img {
        background-color: #fff;
        border: 1px solid black;
        -webkit-flex-grow: 0;
        -moz-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        width: 25%;
        margin: 10px;
        padding: 5px;
        -webkit-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.75);
    }
}

.resize {
    margin: auto;
}


.closeButton {
    position: fixed;
    z-index: 9999;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    height: 30px;
    width: 30px;
    font-size: 50px;
    line-height: 30px;
    text-align: center;
    z-index: 9999;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}
